body {
    margin:0;
    display: flex;
    flex-flow: row wrap;
    font-family: 'Open Sans', sans-serif;
}

.mobile-nav {
    display: none;
}

.container-mobile {
    display: none;
}

.title {
    margin: 40px;
    margin-left: 50px;
    margin-bottom: 20px;
    font-size: 54px;
    color: dimgray;
}

ul.mnav {
    display: none;
}

nav.desktop-nav {
    overflow: hidden;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

nav.desktop-nav  ul {
    list-style-type: none;
    width: 95%;
    margin: 0;
    overflow: hidden;
    background-color: dodgerblue;
    padding: 0;
}

nav.desktop-nav  ul  li {
    float: left;
    margin: 0;
    padding: 0;
}

nav.desktop-nav  ul  li  a {
    display: block;
    padding: 14px 30px;
    text-decoration: none;
    color: floralwhite;
    font-size: 16px;
    font-weight: 600;
    transition: .4s ease;
}

nav.desktop-nav ul  li  a:hover {
    background-color: dimgrey;
}

header {
    margin: 0;
    order: 1;
    flex: 0 1 100%;
}

section {
    margin: 0;
    order: 2;
    flex: 0 2 65%;
    text-align: center;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
}

.full{
    margin-top: 70px;
    flex: 0 1 35%;
    border-radius: 4px;
    box-shadow: 0 0 4px gray;
}

#container-button{
    width: 100%;
}

.putih{
    background-color: white;
    transition: .1s all;
    border-radius: 4px;
}

.abu{
    color: white;
    background-color: dodgerblue;
    transition: .1s all;
    border-radius: 2px;
}

#container-button .btn{
    padding: 20px;
    width: 49.61%;
    margin: 0;
    border: none;
}

#login{
    justify-content: center;
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    transition: 1s all;
}

button{
    outline: none;
}

#register{
    justify-content: center;
    margin-top: 20px;
    display: none;
    flex-flow: row wrap;
    padding: 10px;
    transition: 1s all;
}

#login input, #register input{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    flex: 0 1 60%;
    height: 25px;
    border-radius: 4px;
    border: .5px solid gray;
    padding: 6px;
    overflow: hidden;
    color: gray;
}

#btnlogin, #btnregister{
    border: none;
    background-color: dodgerblue;
    padding: 15px;
    border-radius: 4px;
    width: 60%;
    clear: both;
    color: white;
    margin-bottom: 20px;
    transition: .5s ease;
}

#btnlogin:hover, #btnregister:hover{
    background-color: dimgray;
}

.banner {
    width: 50%;
}

aside {
    margin: 0;
    order: 3;
    flex: 0 1 35%;
    display: flex;
    flex-flow: row wrap;
}

.item-1 {
    position: relative;
    margin: 5px;
    flex: 0 1 40%;
    text-align: center;
    background-color: whitesmoke;
    overflow: hidden;
    transition: .4s ease;
}

.item-1:hover {
    box-shadow: 0px 0px 0px 2px dodgerblue;
}

.item-icon {
    color: dodgerblue;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 70px;
}

.item-1 > h3 {
    position: absolute;
    margin: 0;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: darkslategray;
}

@media screen and (max-width: 1125px){
    .item-1 {
        flex: 0 1 80%;
    }
    
    .item-icon {
        position: absolute;
        top: 46%;
        left: 10%;
        font-size: 30px;
    }
    
    .item-1 > h3 {
        top: 35%;
    }

    .full{
        flex: 0 1 70%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 783px){
    .mobile-nav {
        position: fixed;
        width: 100%;
        display: block;
        flex: 0 1 100%;
        height: 50px;
        background-color: dodgerblue;
    }
    .container-mobile {
        z-index: 1000;
        display: block;
        position: fixed;
        top: 0;
        right: -90%;
        width: 90%;
        height: 100%;
        background-color: steelblue;
        transition: right .5s ease-out;
        -webkit-transition: right .5s ease-out;
    }
    .in{
        right: 0;
        transition: right .5s ease-in;
        -webkit-transition: right .5s ease-in;
    }
    ul.mnav{
        display: block;
        list-style-type: none;
        width: 100%;
        overflow: hidden;
    }
    ul.mnav li{
        width: 100%;
    }
    ul.mnav li a{
        display: block;
        overflow: hidden;
        text-decoration: none;
        color: whitesmoke;
        padding: 20px;
        width: 100%;
    }
    ul.mnav li a:hover {
        background-color: dimgray;
    }
    .mobile-nav-menu-back {
        position: absolute;
        top: 1%;
        left: 1%;
    }
    .mnav-menu {
        text-align: center;
        position: absolute;
        left: 45%;
        transform: translateX(-50%);
        bottom: 10%;
    }
    header {
        margin-top: 50px;
        text-align: center;
    }
    nav {
        display: none;
    }
    .hamburger-icon {
        display: block;
    }
    section {
        flex: 0 1 100%;
    }
    .full{
        flex: 0 1 80%;
        margin-bottom: 20px;
    }
    aside {
        flex: 0 1 100%;
    }
    .item-1 {
        flex: 0 1 90%;
        height: 60px;
        margin-left: 5%;
        margin-right: 5%;
    }
    .menu {
        float: right;
        margin: 9px;
    }
    .white {
        color: whitesmoke;
    }
    .white:hover {
        color: dimgray;
    }
}